<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>my angular app</title>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Nerko+One&display=swap" rel="stylesheet">
</head>
<body>
  <p class="miParrafito" id="miParrafito">esto es un parrafo</p>
  <h1>LLAMEN A LA POLICIA¡¡¡¡¡¡¡</h1>
  <h3>ME ESTAN MATANDO¡¡¡¡.....AHHHHHHHHH¡¡¡¡¡¡</h3>
  <table border="1" class="tablita">
    <tr class="encabezadito">
      <th>productos</th>
      <th>precios</th>
      <th>cantidad</th>
    </tr>
    <tr>
      <td>niño</td>
      <td>5 peso</td>
      <td>artijimo</td>
    </tr>
    <tr class="juguito" id="manguito">
      <td>juguito para el niño</td>
      <td>1 peso</td>
      <td>artijimo tambien</td>
    </tr>
    <tr>
      <td><button>Comprar</button></td>
      <td><button>procesar</button></td>
      <td><button>Enviar</button></td>
    </tr>
  </table>
  <h3>mi primer formulario</h3>
  <form>
    Usuario<br>
    <input type="text"><br>
    Contraseña<br>
    <input type="text"><br><br>
    <input type="submit" value="Enviar"><br><br>
    <input type="radio" value="HTML">
    <label for="html">HTML</label><br>
    <input type="radio" value="CSS">
    <label for="css">CSS</label><br>
    <input type="radio" value="JavaScript">
    <label for="javascript">JavaScript</label>
  </form>
  <div class="general" >
    <h2><a href="www.google.com.co">acceso a google</a></h2>
    <div class="subitem">
      <ol>
        <li><a href="www.google.com.co">acceso a google</a></li>
        <li><a href="www.google.com.co">acceso a google</a></li>
        <li><a href="www.google.com.co">acceso a google</a></li>
      </ol>
      <p>London is the capital city of England.</p>
      <p>London has over 13 million inhabitants.</p>
    </div>
    <div class="tercerdiv">
    <ul>
      <li><a href="www.google.com.co">acceso a google</a></li>
      <li><a href="www.google.com.co">acceso a google</a></li>
      <li><a href="www.google.com.co">acceso a google</a></li>
    </ul>
      <p>London is the capital city of England.</p>
      <p>London has over 13 million inhabitants.</p>
    </div>
  </div>
</body>
</html>
